/* ---- Generic css classes ---- */

.black  { color: black !important  }
.blue   { color: #4051b5 !important  }
.cyan   { color: cyan !important } /* BAD in light mode */
.gray   { color: gray !important  }
.green  { color: #007f00 !important  }
.olive  { color: rgb(151, 151, 0) !important }
.orange { color: darkorange !important  }
.red    { color: #ff3e3e !important  }
.white  { color: white !important  }
.yellow { color: yellow !important  } /* BAD in light mode */
.md-typeset code.bgd    { background-color: #a0a0a0 !important; }
.primary{ color: var(--md-primary-fg-color) !important  }


.md-typeset .h20  , .h20  { height: 20em;  }

/* width percents */
.md-typeset .w5  , .w5  { width: 5%;  }
.md-typeset .w10 , .w10 { width: 10%; }
.md-typeset .w15 , .w15 { width: 15%; }
.md-typeset .w20 , .w20 { width: 20%; }
.md-typeset .w25 , .w25 { width: 25%; }
.md-typeset .w30 , .w30 { width: 30%; }
.md-typeset .w35 , .w35 { width: 35%; }
.md-typeset .w40 , .w40 { width: 40%; }
.md-typeset .w45 , .w45 { width: 45%; }
.md-typeset .w50 , .w50 { width: 50%; }
.md-typeset .w55 , .w55 { width: 55%; }
.md-typeset .w60 , .w60 { width: 60%; }
.md-typeset .w65 , .w65 { width: 65%; }
.md-typeset .w75 , .w75 { width: 75%; }
.md-typeset .w80 , .w80 { width: 80%; }
.md-typeset .w90 , .w90 { width: 90%; }
.md-typeset .w100, .w100{ width: 100%; }

.md-typeset .margin-top-h2, .margin-top-h2 { margin-top: 8em !important; }
.md-typeset .margin-top-h3, .margin-top-h3 { margin-top: 3em !important; }
.md-typeset .margin-top-h4, .margin-top-h4 { margin-top: 1.8em !important; }

/* grid-columns */
.c1 { grid-column: 1; justify-self: center }
.c2 { grid-column: 2; justify-self: center }
.c3 { grid-column: 3; justify-self: center }
.c4 { grid-column: 4; justify-self: center }
.c5 { grid-column: 5; justify-self: center }

.row-of-imgs {
    justify-self:      center;
    display:           grid;
    align-items:       center;
    justify-content:   center;
    gap:               20px;
}

.img-legend {
    display:        flex;
    font-size:      0.85em;
    font-style:     italic;
    align-items:    center;
    text-align:     center;
    justify-content:center;
    margin-top:    -1em;
    margin-bottom:  2em;
    gap: 0.5em;
    color: darkgray;
}

/* ---- overrides ---- */
.md-typeset {
    text-align: justify;
}
.md-typeset .admonition,
.md-typeset details,
.md-typeset table:not([class]) {
    font-size: 0.8rem !important;
}
.md-typeset .admonition > .admonition-title,
.md-typeset details > summary {
    font-size: 95%;
    padding-top: 0.75em;
}

.md-typeset mark {
    border-radius: 3px;
}


.md-typeset h1, .md-typeset h2, .md-typeset h3 {
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 3px 4px var(--md-accent-fg-color--transparent);
}
.md-typeset h1 {
    font-size: 2.2em;
}
.md-typeset h2 {
    font-size: 1.8em;
    margin-top: 4.5em;
    margin-bottom: 1.6em;
}
.md-typeset h2 + h3 {
    margin-top: 1.2em;
}
.md-typeset h3 {
    font-size: 1.4em;
    margin-top: 3em;
    margin-bottom: 1.3em;
    font-weight: bold;
    text-decoration: underline;
}
.md-typeset h4 {
    font-size: 1.2em;
    margin-top: 2.4em;
}
.md-typeset h5 {
    font-size: 1.05em;
    margin-top: 1.6em;
    text-decoration: underline;
    font-weight: normal;
    font-style: italic;
    text-transform: unset;
}

.admonition.info {
    margin: 4em 0em 3em 0em;
}



.md-typeset .tabbed-set {
    border: 1px solid lightgray;
}

.md-typeset .tabbed-content {
    width: calc( 100% - 2 * 1em );
    margin: 1em;
}


/* Format code blocks with box-shadow */
div.highlight {
    width: 100%;
    box-shadow: 0 0 2px gray;
    border-radius: 5px;
    padding: 0 10px;
    display: grid;
    align-items: center;
    min-height: 2.5em;
}
div.highlight > pre {
    margin: 0;
    padding: 0.7em 0;
    overflow: auto;
}
div.highlight .md-clipboard {
    right: 0px;
}


@media screen and (max-width: 44.9844em){   /* override */
    .md-content__inner > .highlight {
        margin: unset;
    }
}

.md-typeset .task-list-item [type="checkbox"] {
    top: 0; /*realign task lists*/
}

.md-typeset .admonition.inline.end, .md-typeset div.meta-spacer {
    margin-left: 3.5em !important;
}


.md-typeset .admonition.inline:not(.end) {
    margin-right: 4em;
}

.md-typeset .admonition.no-margin-top          { margin-top: 0; }
.md-typeset .admonition.margin-top-meta-mkdocs { margin-top: 0.5em; }
.md-typeset .admonition.margin-top-meta-file   { margin-top: 2.5em; }
.md-typeset .admonition.margin-top-meta-header { margin-top: 8.5em; }
.md-typeset .admonition.margin-top-meta-macro  { margin-top: 2.5em; }
.md-typeset .admonition.margin-top-packages    { margin-top: -5em; }

.md-typeset .pmt-note, .md-typeset .pmt_note {
    font-size: 0.9em;
    font-style: italic;
    color: gray;
}


/* mkdocstrings overrides */

h3.doc-heading, h4.doc-heading {
    margin-top: 4em;
    margin-bottom: 0em;
    text-align: left;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    font-size: 1.4em;
    margin-bottom: 1em;
}


.md-typeset h4.doc-heading {
    font-size: 1.1em;
    margin-top: 3em;
}


/* glightbox overrides*/

.md-typeset img[align="right"], .md-typeset svg.inline.end {
    margin-left: 3em !important;
}
.md-typeset img[align="left"], .md-typeset svg.inline:not(.end) {
    margin-right: 3em !important;
}
.md-typeset div.img.center, div.img.center {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* override theme */
.no-hover, .no-hover:hover {
--opacity: 1;
margin: 0;
}

hr.sep {
    margin: 2em 1em 2.6em 1em;
}

/* Fix some tabs titles alignment */
label[for="synthèse-ide"],
label[for="terminaux"] {
    align-self: center;
}

.pmt-border {
    box-shadow: 0 0 4px var(--md-typeset-color);
}

#palette-tracker {
    border: 1px solid var(--main-theme);
    width: 300px;
    padding: 7px 20px;
    text-align: center;
    justify-self: center;
}
.css-sq-color {
    width: 20px;
    height: 20px;
    border: 1px solid darkolivegreen;
}