#qcm-builder-tool{
  grid-template-columns: min-content auto;
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 20px;
}
#qcm-builder-tool, #qcm-builder-tool fieldset {
  border-color: var(--main-theme);
}

#qcm-description { grid-column: 1 / 3; }

.qcm-grid { display: grid; grid-gap: 10px; }

.fit-height,  .fit-size  { height: fit-content }
.fit-width,   .fit-size  { width:  fit-content }
.full-height, .full-size { height: 100% }
.full-width,  .full-size { width: 100% }

.r1{ grid-row: 1; }
.r2{ grid-row: 2; }
.r3{ grid-row: 3; }
.r4{ grid-row: 4; }

.c1{ grid-column: 1; }
.c2{ grid-column: 2; }
.c3{ grid-column: 3; }
.c4{ grid-column: 4; }

.qcm-builder-btn { width: 25px; height: 25px; }

#export-qcm{
  grid-column: 1 / 3;
  justify-content: space-evenly;
}
div.qcm-export-btns { align-items: center; }

.qcm-item {
  width:100%;
  align-items: center;
  grid-template-columns: repeat(2, max-content) auto;
}
.qcm-question-items { border-width: 1px; }
.inline-qcm {
  justify-content: space-between;
  grid-template-columns: auto auto;
}
.qcm-select-width{ width: 5em; }
